.audio-call {
  &__content {
  }
  &__game {
    padding: 90px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    width: 1000px;
    margin: 0px auto;
    position: relative;
    @media (max-width: 1000px) {
      padding: 90px 20px 60px 20px;
      width: 100%;
    }
    @media (max-width: $md3) {
      padding: 90px 10px 60px 10px;
    }
    @media (max-width: 520px) {
      padding: 95px 10px 60px 10px;
    }
  }
  &__sound-icon {
    top: 80px;
    @media (max-width: 520px) {
      top: 55px;
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    height: 280px;
  }
  &_unknown {
    .audio-call__button_know {
      display: none;
    }
    .audio-call__button_unknow {
      display: block;
    }
  }

  &__call-icon {
    width: 150px;
    height: 150px;
    transition: all 0.3s ease 0s;
  }
  &__call {
    background: $green;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      .audio-call__call-icon {
        color: $black;
        opacity: 0.7;
      }
    }
  }

  &__variants {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    @media (max-width: $md3) {
      flex-wrap: wrap;
      gap: 20px;
    }
    @media (max-width: 520px) {
      gap: 25px;
    }
  }

  &__variant {
    cursor: pointer;
    text-align: center;
    background: $green;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px;
    padding: 8px 6px;
    min-width: 120px;
    font-weight: 400;
    color: $black;
    transition: all 0.3s ease 0s;
    border: 2px solid $green;
    @media (max-width: 520px) {
      flex: 1 1 100%;
    }
    &:disabled {
      opacity: 0.7;
    }
    &:hover {
      opacity: 0.8;
      color: $white;
    }
    &_true {
      border: 2px solid $gray;
      box-shadow: 0 0 10px rgb(255, 255, 255);
    }
    &_false {
      border: 2px solid $error;
      box-shadow: 0 0 10px rgb(0, 0, 0);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    padding: 8px 0px;
    width: 200px;
    background: $ice_blue;
    &_know {
      display: block;
    }
    &_unknow {
      display: none;
    }
  }
}

.audio-call-show {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  &__icon {
    width: 312px;
    height: 208px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__audio-icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease 0s;
  }

  &__audio {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: $green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &:hover {
      .audio-call-show__audio-icon {
        color: $black;
        opacity: 0.7;
      }
    }
  }

  &__word {
  }

  &__dash {
    position: relative;
    width: 10px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      background: $white;
      left: 0;
      top: 0;
    }
  }

  &__translate {
  }
}

.audio-call-progress {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  @media (max-width: 520px) {
    column-gap: 5px;
  }
  &__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $gray;
    @media (max-width: 520px) {
      width: 7px;
      height: 7px;
    }
    &_true {
      background: $green;
    }
    &_false {
      background: $error;
    }
  }
}
