.footer {
  position: absolute;
  top: calc(100% - 32px);
  width: 100%;
  z-index: 60;
  // background: $bg;
  &__content {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 12px;
    a {
      color: $white;
      opacity: 0.5;
      transition: opacity 0.5s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.rss-logo {
  opacity: 0.5;
  display: block;
  background-color: transparent;
  width: 60px;
  transition: opacity 0.5s ease 0s;
  img {
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}
.year {
  opacity: 0.5;
  display: block;
  background-color: transparent;
}
.rss-logo-year {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
