.pagination {
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    column-gap: 20px;
    padding: 20px 0px 40px 0;
  }

  &__arrow {
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease 0s;
    &:disabled {
      opacity: 0.5;
    }
    &_icon {
      width: 30px;
      height: 30px;
    }
    &:hover {
      color: red;
    }
  }

  &__pages {
    display: flex;
    column-gap: 8px;
  }

  &__page {
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    // background: $ice_blue;
    cursor: pointer;
  }
}
.pagination__page_gf {
  font-size: 28px;
}
