.sprint {
  height: 100%;
  &__content {
    height: 100%;
  }
  &__entry {
  }
}

.sprint-entry {
  display: flex;
  justify-content: center;

  width: 100%;
  // height: 100vh;
  &__content {
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 600px;
    background: #3f4ab1;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;
  }
  &__entry {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  &__choice {
  }
  &__button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    span {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      padding: 5px 10px;
      color: #fff;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__button:disabled {
    opacity: 0.7;
  }
}
.sprint-entry-choice {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 18px;
    line-height: 28px;
  }
  &__choice {
    display: flex;
    column-gap: 10px;
  }

  &__item {
    width: 40px;
    height: 40px;
    background: $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    &:hover {
      background: $ice_blue;
      box-shadow: 0 0 10px rgb(255, 255, 255);
    }
    &_active {
      background: $green;
      // box-shadow: 0 0 5px rgb(255, 255, 255);
    }
  }
}

.sprint-game {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: $md3) {
    align-items: flex-start;
  }
  &__content {
    position: relative;
    max-width: 600px;
    flex: 0 0 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background: #c4c4c4;
    border-radius: 10px;
    //overflow: hidden;
    //padding: 20px 0px;
    margin-top: 60px;
    @media (max-width: $md3) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-top: 120px;
    }
    @media (max-width: $md4) {
      row-gap: 15px;
    }
  }
  &__sound-icon {
    padding: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 15px;

    .sprint-game__sound-icon_act {
      display: none;
    }
    .sprint-game__sound-icon_mute {
      display: block;
    }
    &_active {
      .sprint-game__sound-icon_act {
        display: block;
      }
      .sprint-game__sound-icon_mute {
        display: none;
      }
    }
  }

  &__audio-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    cursor: pointer;
    position: absolute;
    left: calc(100% - 45px);
    top: 15px;
  }
  &__header {
    background: $green;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    border-radius: 10px;
    @media (max-width: $md4) {
      height: 60px;
    }
  }
  &__header-title {
    font-size: 28px;
    color: $white;
    opacity: 0.9;
    @media (max-width: $md4) {
      font-size: 20px;
    }
  }

  &__header-result {
    font-size: 28px;
    color: $white;
    opacity: 0.9;
    @media (max-width: $md4) {
      font-size: 20px;
    }
  }

  &__words {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    row-gap: 10px;
    font-size: 24px;
    line-height: 28px;
    color: $black;
    text-transform: uppercase;
  }

  &__word {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
  }

  &__var {
    text-align: center;
  }

  &__buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    column-gap: 20px;
    @media (max-width: $md4) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__button {
    width: 200px;
    /*  @media (max-width: $md4) {
      flex: 1 1 80%;
      width: 80%;
    } */

    &_fl {
      background: $error;
    }

    &_tr {
      background: $green;
    }
    span {
      font-family: "Roboto", sans-serif;
      padding: 12px 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}

.sprint-results {
  &__content {
    margin-top: 60px;
    margin-bottom: 60px;
    background: $white;
    color: $black;
    font-size: 18px;
    line-height: 22px;
    max-width: 900px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
  }

  &__column {
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  &__errors {
    display: inline-block;
    text-align: center;
    width: 40px;
    background: $pink;
    border-radius: 10px;
    color: $white;
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__item {
  }

  &__success {
    display: inline-block;
    text-align: center;
    width: 40px;
    background: $green;
    border-radius: 10px;
    color: $white;
  }
}

.sprint-results-item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  &__audio {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    color: $black;
    margin-right: 5px;
    &:hover {
      color: $ice_blue;
    }
  }

  &__word {
    font-size: 24px;
    line-height: 28px;
  }

  &__dash {
    width: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      background-color: $black;
      opacity: 0.8;
    }
  }

  &__translate {
    opacity: 0.8;
  }
}

.sprint-controll {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 5px;
  }
}
