$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1880;
$md1: $maxWidthContainer + 12 + px;
$md2: 991.98px;
$md3: 768px;
$md4: 479.98px;

$blue: #2299eb;
$ice_blue: #24c5db;
$bg: #212429;

$white: #fff;
$black: #010101;
$pink: #ffbca2;
$green: #3dda69;
$error: #ff7e7e;
$red: rgb(194, 63, 63);
$background: #e5e5e5;
$gray: #c4c4c4;
$gray_1: rgba(255, 255, 255, 0.884);
$gray_2: #212429;

$group-1: #3dda69;
$group-2: yellow;
$group-3: orange;
$group-4: orangered;
$group-5: #2299eb;
$group-6: rebeccapurple;
